{% extends "layout.html" %}

{% block header %}



    {% import "_macros.html" as macro %}
    <h1>Distancia</h1>
    <form action="" method="post">
        {{ macro.campo1("x1","Ingrese X1", "number") }}
        {{ macro.campo1("y1","Ingrese Y1", "number" ) }}
        {{ macro.campo1("x2","Ingrese X2", "number") }}
        {{ macro.campo1("y2","Ingrese Y2", "number") }}
        <button type="submit" class="btn btn-primary">Calcular Distancia</button>
        <h2>Distancia Calculada: {{ distancia }}</h2>

    </form>
    


{% endblock %}