{% macro campo1(name,placeholder,type="text") %}
  <div class="form-group">
          <label for="{{ name }}">{{ placeholder }}:</label>
          <input type="{{ type }}" class="form-control" id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}">
        </div>  
{% endmacro %}


{% macro campoNuevo(campo) %}
  <div class="form-group">
    {{ campo.label(class="control-label") }}
    {{ campo(class="form-control") }}
    {% for error in campo.errors %}
      <span class="text-danger">{{ error }}</span>
    {% endfor %}
  </div>
{% endmacro %}

